// Color Pallete
$white: #ffffff;
$black: #000000;

// Base Settings
$base-font-size: medium;
$copy-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$header-font-family: Impact, Charcoal, sans-serif;

// Breakpoints
$bp-tablet: 37.5em;
$bp-desktop: 60em;